# --- SEGURIDAD ---
.env
*.env
.venv/
venv/
env/

# --- FRONTEND (React/Vite) ---
node_modules/
dist/
dist-ssr
*.local
.eslintcache

# --- BACKEND (Python/API) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- SISTEMA Y LOGS ---
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*